* {
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

select {
    width: 100%;
    height: 33px;
    border: 1px solid #70797b;
    color: #70797b;
    font-size: 16px;
    border-radius: 10px;
    background-color: transparent;
    padding-left: 3px;
}

button {
    background-color: transparent;
    border: 0;
    color: #fff;
    padding: 0;
}

button:focus {
    outline: none;
}

.container-fluid {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.row {
    margin: 0;
}

::-webkit-input-placeholder {
    /* Edge */
    color: #b4b4b4;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #b4b4b4;
}

::placeholder {
    color: #b4b4b4;
}

.flex {
    display: flex;
    justify-content: space-between;
}
